/* @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap'); */

html {
  visibility: hidden;
  opacity: 0;
}

/* AVERIA SERIF LIBRE */
/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/Averia_Serif_Libre/AveriaSerifLibre-LightItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Averia_Serif_Libre/AveriaSerifLibre-Italic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/Averia_Serif_Libre/AveriaSerifLibre-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/Averia_Serif_Libre/AveriaSerifLibre-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* INKNUT ANTIQUA */
/* latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/Inknut_Antiqua/InknutAntiqua-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Inknut_Antiqua/InknutAntiqua-Medium.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/Inknut_Antiqua/InknutAntiqua-SemiBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/Inknut_Antiqua/InknutAntiqua-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(fonts/Inknut_Antiqua/InknutAntiqua-ExtraBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(fonts/Inknut_Antiqua/InknutAntiqua-Black.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  /* Shadows */
  /*Go to https://www.joshwcomeau.com/shadow-palette/ to generate the shadow palette */

  --shadow-color: 360deg 100% 3%;
  --shadow-elevation-low:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 1),
    0px 0.1px 0.1px -2.5px hsl(var(--shadow-color) / 0.69),
    0px 0.5px 0.4px -5px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 0.88),
    0px 0.1px 0.1px -1.2px hsl(var(--shadow-color) / 0.7),
    0px 0.4px 0.3px -2.5px hsl(var(--shadow-color) / 0.52),
    0px 1.1px 0.8px -3.7px hsl(var(--shadow-color) / 0.35),
    0px 2.4px 1.8px -5px hsl(var(--shadow-color) / 0.17);
  --shadow-elevation-high:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 0.81),
    0px 0.1px 0.1px -0.6px hsl(var(--shadow-color) / 0.73),
    0px 0.3px 0.2px -1.1px hsl(var(--shadow-color) / 0.65),
    0px 0.6px 0.5px -1.7px hsl(var(--shadow-color) / 0.57),
    0px 1.4px 1px -2.2px hsl(var(--shadow-color) / 0.49),
    0px 2.6px 2px -2.8px hsl(var(--shadow-color) / 0.41),
    -0.1px 4.4px 3.3px -3.3px hsl(var(--shadow-color) / 0.33),
    -0.1px 6.9px 5.2px -3.9px hsl(var(--shadow-color) / 0.24),
    -0.1px 10.3px 7.7px -4.4px hsl(var(--shadow-color) / 0.16),
    -0.2px 14.6px 11px -5px hsl(var(--shadow-color) / 0.08);

  --blue: #00BEFD;
  --blue-hover: rgb(165, 219, 241);
  --blue-fb: #0092DB;
  --blue-fb-hover: #0075a0;

  --pink: #FF05D1;
  --pink-hover: rgb(244, 125, 248);
  --pink-fb: var(--pink);
  --pink-fb-hover: #c330a8;

  --purple: #A26BF5;
  --purple-hover: rgb(211, 170, 255);

  --white: #fff;
  --grey: #37352f;
  --dark-grey: #1b1b1b;
  --black: #000;

  --light-sepia: #fffefb;

  --undobar: #b8b8b8;
  --undobar-fb: #5d5d5d;

  --body: var(--white);
  --background: var(--black);
  --background-image: linear-gradient(0deg,
      hsl(0deg 0% 0%) 0%,
      hsl(344deg 0% 1%) 16%,
      hsl(344deg 0% 2%) 27%,
      hsl(344deg 0% 3%) 36%,
      hsl(344deg 0% 4%) 46%,
      hsl(344deg 0% 5%) 55%,
      hsl(344deg 0% 6%) 64%,
      hsl(344deg 0% 7%) 74%,
      hsl(344deg 0% 7%) 85%,
      hsl(0deg 0% 8%) 100%);

  --body-fb: var(--dark-grey);
  --background-fb: var(--light-sepia);

  --options-bg: var(--dark-grey);
  --options-shadow: var(--shadow-elevation-high);

  --moon-bi: linear-gradient(180deg,
      hsl(240deg 2% 11%) 0%,
      hsl(265deg 1% 13%) 15%,
      hsl(296deg 1% 15%) 29%,
      hsl(324deg 1% 18%) 43%,
      hsl(341deg 1% 21%) 56%,
      hsl(354deg 1% 23%) 68%,
      hsl(5deg 1% 26%) 78%,
      hsl(14deg 1% 28%) 87%,
      hsl(22deg 1% 31%) 95%,
      hsl(30deg 1% 34%) 100%);

  --goddess-vision: 0px 0px 12px rgb(140 129 139), 0px 0px 20px rgb(255 255 255), 0px 0px 27px rgb(131 131 131);
}

[data-theme="light"] {
  --shadow-elevation-light:
    rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;

  --sepia: #fff7e6;
  --dark-brown: #342513;

  --undobar: #383838;
  --undobar-fb: #2a2a2a;

  --blue: var(--blue-fb);
  --blue-hover: var(--blue-fb-hover);

  --purple-hover: #8957d4;

  --body: var(--dark-grey);
  --background: var(--white);
  --background-image: linear-gradient(0deg,
      hsl(0deg 0% 96%) 0%,
      hsl(344deg 0% 96%) 16%,
      hsl(344deg 0% 96%) 27%,
      hsl(344deg 0% 96%) 36%,
      hsl(344deg 0% 96%) 46%,
      hsl(344deg 0% 97%) 55%,
      hsl(344deg 0% 98%) 64%,
      hsl(344deg 0% 99%) 74%,
      hsl(344deg 0% 99%) 85%,
      hsl(0, 0%, 100%) 100%);

  --body-fb: var(--dark-brown);
  --background-fb: var(--sepia);

  --options-bg: var(--white);
  --options-shadow: var(--shadow-elevation-light);

  --moon-bi: linear-gradient(180deg,
      hsl(0deg 0% 100%) 0%,
      hsl(0deg 0% 95%) 25%,
      hsl(0deg 0% 90%) 42%,
      hsl(0deg 0% 85%) 53%,
      hsl(0deg 0% 80%) 62%,
      hsl(0deg 0% 76%) 70%,
      hsl(0deg 0% 71%) 76%,
      hsl(0deg 0% 66%) 81%,
      hsl(0deg 0% 61%) 85%,
      hsl(0deg 0% 56%) 90%,
      hsl(0deg 0% 51%) 95%,
      hsl(0deg 0% 46%) 100%);

  --goddess-vision: 0 0 5px rgba(255, 5, 209, .7), 0 0 20px rgb(255 146 235 / 70%), 0 0 60px rgb(255 25 213 / 70%)
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.passage {
  transition: opacity 0.5s ease-in-out;
  line-height: 1.55;
}

.long-t8n.passage {
  transition: opacity 1s ease-in-out;
}

.no-t8n.passage {
  transition: none;
}

#passages {
  position: relative;
  color: var(--body);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  padding: 1.2em 1.2em 1.2em 1.2em;
  border-radius: 0.25em;
  margin: 0;
  max-width: none;
  width: 100%;
  min-height: 100%;
  height: auto;
}

body {
  background-image: var(--background-image);
  background-attachment: fixed;
  margin: 0 auto;
  position: relative;
  font-family: "Averia Serif Libre", serif;
  font-size: 14pt;
  max-width: 690px;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out;
}

#footer {
  height: 4em;
  width: 100%;
}

p {
  margin: 1.5em 0;
  padding: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: var(--blue-hover);
  text-decoration: none;
  transition: 0.3s;
}

a.link-external::after {
  visibility: hidden;
  content: "";
}

level-2 {
  margin-top: 1.5em;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  list-style-type: "*  ";
}

ul>ul {
  margin-top: 0em;
}

li::marker {
  font-family: "Inknut Antiqua", serif;
  font-size: 62%;
}

p:first-of-type {
  margin-top: 0 !important;
}

.title {
  font-size: 2.2em;
  font-weight: 700;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Inknut Antiqua", serif;
  transform: scaleX(0.94);
}

.subtitle {
  font-size: 1.38em;
  font-weight: 800;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chapter-selection-header {
  font-size: 1.38em;
  font-weight: 800;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 2;
  font-family: "Inknut Antiqua", serif;
  transform: scaleX(0.92);
}

.cw-header {
  font-size: 1.38em;
  font-weight: 800;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 2;
  font-family: "Inknut Antiqua", serif;
  transform: scaleX(0.92);
  padding-bottom: 2px;
}

.options-header {
  font-size: 1.38em;
  font-weight: 800;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Inknut Antiqua", serif;
  transform: scaleX(0.92);
  transform-origin: left center;
  padding-bottom: 0.5em;
}

.options-text {
  margin-top: 8px;
  font-weight: 300;
}

.credit-title {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Inknut Antiqua", serif;
  transform: scaleX(0.94);
  transform-origin: left center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-image {
  text-align: center;
  line-height: 125%;
  display: inline-block !important;
  width: 100%;
}

.title-image img {
  max-width: 100%;
  height: auto;
}

.sidebox {
  float: right;
  line-height: 115%;
  font-size: 10pt;
  padding: 4px;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 168px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  margin-top: -1em;
}

.sidebox img {
  height: 180px;
  width: 160px;
}

#preload {
  opacity: 0;
}

h1 {
  font-size: 1.14em;
  font-weight: 800;
  font-family: "Inknut Antiqua", serif;
  transform: scaleX(0.92);
  transform-origin: left center;
}

/* Special CSS */
[data-tags~="center"].passage {
  text-align: center;
}

.chapter-select-link {
  font-size: 120%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  fill: var(--body);
}

#chapter_5 {
  cursor: pointer;
  fill: var(--purple);
  pointer-events: all;
  transition: fill 0.3s ease;
}

#chapter_5 path {
  transition: fill 0.3s ease;
  fill: var(--purple);
  pointer-events: all;
}

#chapter_5 svg:hover path {
  fill: var(--purple-hover);
  pointer-events: all;
}

#chapter_5:hover path {
  fill: var(--purple-hover);
  pointer-events: all;
}

#chapter_5_menu {
  cursor: pointer;
  pointer-events: all;
}

#chapter_5_menu path {
  transition: fill 0.3s ease;
  fill: var(--blue);
  pointer-events: all;
}

#chapter_5_menu:hover path {
  fill: var(--blue-hover);
  pointer-events: all;
}

body.full-text-body {
  margin: 0;
  max-width: max-content;
  margin: 0;
  padding: 0;
}

body.no-t8n {
  transition: none !important
}

.pink span a {
  color: var(--pink);
}

.pink span a:hover {
  color: var(--pink-hover);
}

.pink>a {
  color: var(--pink);
}

.pink>a:hover {
  color: var(--pink-hover);
}

.goddess-vision a {
  text-shadow: var(--goddess-vision);
}

.purple span a {
  color: var(--purple);
}

.purple span a:hover {
  color: var(--purple-hover);
}

.purple>a {
  color: var(--purple);
}

.purple>a:hover {
  color: var(--purple-hover);
}

.ina-bullet {
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
  font-size: 62%;
  padding-left: 1.7em
}

.level-2 {
  padding-left: 5em;
}

.number-heading {
  font-size: 10em;
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.moon {
  background-image: var(--moon-bi);
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

body.long-t8n {
  transition-duration: 1s ease-in-out;
}

body.flashback {
  background-color: var(--background-fb);
  background-image: none;
  transition-duration: 1s ease-in-out;
}

body[data-tags~="flashback"] #passages {
  background-color: "transparent";
  box-shadow: "none";
  color: var(--body-fb);
}

body[data-tags~="options"] #passages {
  background-color: var(--options-bg);
  box-shadow: var(--options-shadow);
}

body[data-tags~="full-text-body"] #passages {
  padding: "0";
  color: var(--body);
}

body[data-tags~="blue-fb"] a {
  color: var(--blue-fb);
}

body[data-tags~="blue-fb"] a:hover {
  color: var(--blue-fb-hover);
}

body[data-tags~="pink-fb"] a {
  color: var(--pink-fb);
}

body[data-tags~="pink-fb"] a:hover {
  color: var(--pink-fb-hover);
}

.noshow {
  display: none !important;
}

.hide {
  display: none;
}

h2 {
  margin-top: 0;
}

h4 {
  margin-block-start: 0em;
  margin-block-end: 1em;
  border-bottom: 2px solid;
}

ol {
  margin: 0.5em 0;
}

div#preload {
  opacity: 0 !important;
}

.macro-textbox,
textarea {
  background-color: var(--body);
  color: var(--background);
}

/* Change transition time for macros with t8n */
.macro-linkappend-insert,
.macro-linkprepend-insert,
.macro-linkreplace-insert,
.macro-append-insert,
.macro-prepend-insert,
.macro-replace-insert,
.macro-repeat-insert,
.macro-timed-insert {
  transition: opacity 450ms ease-in;
}

textarea:not(:disabled):focus,
textarea:not(:disabled):hover {
  background-color: var(--body);
  border-color: var(--background);
}

input,
select {
  border-radius: 0.25em;
  background-color: var(--body);
  color: var(--background);
}

input:not(:disabled):focus,
input:not(:disabled):hover {
  background-color: var(--body);
  border-color: var(--background);
}

button {
  border: 1px solid var(--background);
  border-radius: 0.25em;
  background-color: var(--body);
  color: var(--background);
}

button:not(:disabled):focus,
button:not(:disabled):hover {
  background-color: #ededed;
  border-color: var(--background);
}

#title-image img {
  max-width: 100%;
  height: auto;
}

#menu {
  text-align: center;
  font-size: 15pt;
  width: 100%;
  color: var(--blue);
  margin-top: 1.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* #menu a {
  color: var(--purple);
}

#menu a:hover {
  color: var(--purple-hover);
} */

#title-image {
  text-align: center;
  line-height: 125%;
  width: 100%;
}

#undobar {
  position: relative;
  top: 0em;
  left: 1.4em;
  height: 0;
  width: 0;
  font-size: 32pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#undobar a {
  transition: color 0.5s ease-in-out;
  color: var(--undobar);
  opacity: 36%;
}

body.no-undo #undobar a {
  display: none !important;
}

body.flashback #undobar a {
  color: var(--undobar-fb);
}

.close {
  position: absolute;
  right: 1.5em;
  top: 0.4em;
  height: 0;
  width: 0;
  font-size: 150%;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#copyright {
  position: absolute;
  right: 0.25em;
  bottom: -1.5em;
  color: rgba(255, 205, 180, 0.9);
  font-style: italic;
}

.characters {
  line-height: 115%;
  font-size: 10pt;
  text-align: center;
  width: 160px;
  display: inline-block;
}

.characters img {
  height: 180px;
  width: 160px;
}

.characterlist {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5em;
  line-height: 200%;
}

#star {
  color: #44b43e;
}

#footnote {
  color: #44b43e;
  font-size: 90%;
  margin-top: 2em;
}

#footnote a {
  text-decoration: none;
  color: #44b43e;
}

#footnote a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1136px) {
  #story {
    margin-right: 0.8em;
    margin-left: 0.8em;
  }

  #undobar {
    margin-left: -0.7em;
  }
}

@media screen and (max-width: 920px) {
  body {
    font-size: 13pt;
    padding: 3.5em 1em;
  }

  #footer {
    height: 3.5em;
  }

  #undobar {
    font-size: 30pt !important;
  }

  #menu {
    font-size: 17pt;
  }
}

@media screen and (max-width: 720px) {
  .charbreak4 {
    display: inline;
    content: "";
    clear: none;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 12pt;
    padding: 3em 1em;
  }

  #footer {
    height: 3em;
  }

  #undobar {
    font-size: 28pt !important;
  }

  #menu {
    font-size: 15pt;
  }

  .charbreak {
    display: inline;
    content: "";
    clear: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12pt;
    padding: 2em 1em;
  }

  #footer {
    height: 2em;
  }

  #undobar {
    font-size: 24pt !important;
  }

  #menu {
    font-size: 14pt;
  }

  .title {
    line-height: 1.2;
  }

  .subtitle {
    line-height: 2;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12pt;
    padding: 1.5em 1em;
  }

  #footer {
    height: 1.5em;
  }

  #undobar {
    font-size: 18pt !important;
    top: -0.75em;
  }

  #menu {
    font-size: 12pt;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

html {
  visibility: visible;
  opacity: 1;
}