@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

:root {
  /* Shadows */
  /*Go to https://www.joshwcomeau.com/shadow-palette/ to generate the shadow palette */

  --shadow-color: 360deg 100% 3%;
  --shadow-elevation-low:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 1),
    0px 0.1px 0.1px -2.5px hsl(var(--shadow-color) / 0.69),
    0px 0.5px 0.4px -5px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 0.88),
    0px 0.1px 0.1px -1.2px hsl(var(--shadow-color) / 0.7),
    0px 0.4px 0.3px -2.5px hsl(var(--shadow-color) / 0.52),
    0px 1.1px 0.8px -3.7px hsl(var(--shadow-color) / 0.35),
    0px 2.4px 1.8px -5px hsl(var(--shadow-color) / 0.17);
  --shadow-elevation-high:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 0.81),
    0px 0.1px 0.1px -0.6px hsl(var(--shadow-color) / 0.73),
    0px 0.3px 0.2px -1.1px hsl(var(--shadow-color) / 0.65),
    0px 0.6px 0.5px -1.7px hsl(var(--shadow-color) / 0.57),
    0px 1.4px 1px -2.2px hsl(var(--shadow-color) / 0.49),
    0px 2.6px 2px -2.8px hsl(var(--shadow-color) / 0.41),
    -0.1px 4.4px 3.3px -3.3px hsl(var(--shadow-color) / 0.33),
    -0.1px 6.9px 5.2px -3.9px hsl(var(--shadow-color) / 0.24),
    -0.1px 10.3px 7.7px -4.4px hsl(var(--shadow-color) / 0.16),
    -0.2px 14.6px 11px -5px hsl(var(--shadow-color) / 0.08);

  --red: rgb(255, 6, 6);
  --red-hover: rgb(255, 106, 106);

  --blue: rgb(50, 195, 252);
  --blue-hover: rgb(176, 231, 253);

  --pink: #ff3dbc;
  --pink-hover: rgb(252, 157, 255);

  --purple: #9f44ff;
  --purple-hover: rgb(196, 141, 255);
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: #838383;
}

.passage {
  transition: opacity 0.5s ease-in-out;
  line-height: 1.55;
}

.long-t8n.passage {
  transition: opacity 1s ease-in-out;
}

.no-t8n.passage {
  transition: none;
}

#passages {
  position: relative;
  color: rgb(255, 255, 255);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  padding: 1em 1em 1em 1em;
  border-radius: 0.25em;
  margin: 0;
  max-width: none;
  width: 100%;
  min-height: 100%;
  height: auto;
}

body {
  background-image: linear-gradient(0deg,
      hsl(0deg 0% 0%) 0%,
      hsl(344deg 0% 1%) 16%,
      hsl(344deg 0% 2%) 27%,
      hsl(344deg 0% 3%) 36%,
      hsl(344deg 0% 4%) 46%,
      hsl(344deg 0% 5%) 55%,
      hsl(344deg 0% 6%) 64%,
      hsl(344deg 0% 7%) 74%,
      hsl(344deg 0% 7%) 85%,
      hsl(0deg 0% 8%) 100%);
  margin: 0 auto;
  position: relative;
  font-family: "Averia Serif Libre", serif;
  font-size: 14pt;
  max-width: 690px;
  min-width: 300px;
  height: 100%;
  overflow-y: scroll;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out;
}

#footer {
  height: 4em;
  width: 100%;
}

p {
  margin: 1.5em 0;
  padding: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: var(--blue-hover);
  text-decoration: none;
  transition: 0.3s;
}

level-2 {
  margin-top: 1.5em;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  list-style-type: "*  ";
}

ul>ul {
  margin-top: 0em;
}

li::marker {
  font-family: "Inknut Antiqua";
  font-size: 62%;
}

p:first-of-type {
  margin-top: 0 !important;
}

.title {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: 1.2em;
  font-weight: 800;
  text-align: center;
}

.credit-title {
  font-size: 120%;
  font-weight: 700;
}

.title-image {
  text-align: center;
  line-height: 125%;
  display: inline-block !important;
  width: 100%;
}

.title-image img {
  max-width: 100%;
  height: auto;
}

.sidebox {
  float: right;
  line-height: 115%;
  font-size: 10pt;
  padding: 4px;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 168px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  margin-top: -1em;
}

.sidebox img {
  height: 180px;
  width: 160px;
}

#preload {
  opacity: 0;
}

/* Special CSS */
[data-tags~="center"].passage {
  text-align: center;
}

#chapter_4 {
  cursor: pointer;
  fill: var(--purple);
  pointer-events: all;
  transition: fill 0.3s ease;
  /* Smooth transition for color change */
}

#chapter_4 path {
  transition: fill 0.3s ease;
  fill: var(--purple);
  pointer-events: all;
  /* Smooth transition for color change */
}

#chapter_4 svg:hover path {
  fill: var(--purple-hover);
  pointer-events: all;
  /* Change this to your desired hover color */
}

body.full-text {
  margin: 0;
  max-width: max-content;
  margin: 0;
  padding: 0;
}

body.no-t8n {
  transition: none !important
}

.pink span a {
  color: var(--pink);
}

.pink span a:hover {
  color: var(--pink-hover);
}

.pink>a {
  color: var(--pink);
}

.pink>a:hover {
  color: var(--pink-hover);
}

.goddess-vision a {
  text-shadow: 0px 0px 12px rgb(140 129 139), 0px 0px 20px rgb(255 255 255), 0px 0px 27px rgb(131 131 131);
}

.purple span a {
  color: var(--purple);
}

.purple span a:hover {
  color: var(--purple-hover);
}

.purple>a {
  color: var(--purple);
}

.purple>a:hover {
  color: var(--purple-hover);
}

.ina-bullet {
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
  font-size: 62%;
  padding-left: 1.7em
}

.level-2 {
  padding-left: 5em;
}

.number-heading {
  font-size: 10em;
  line-height: 1;
}

body.moon {
  background-image: linear-gradient(180deg,
      hsl(240deg 2% 11%) 0%,
      hsl(265deg 1% 13%) 15%,
      hsl(296deg 1% 15%) 29%,
      hsl(324deg 1% 18%) 43%,
      hsl(341deg 1% 21%) 56%,
      hsl(354deg 1% 23%) 68%,
      hsl(5deg 1% 26%) 78%,
      hsl(14deg 1% 28%) 87%,
      hsl(22deg 1% 31%) 95%,
      hsl(30deg 1% 34%) 100%);
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

body.flashback {
  background-color: #ffffff;
  background-image: none;
  transition-duration: 1s ease-in-out;
}

body.long-t8n {
  transition-duration: 1s ease-in-out;
}

body.flash-black {
  background-color: #000000;
}

div.flash-black {
  background-color: #000000;
  color: #ffffff;
}

.evening {
  background-color: #00184b;
}

.night {
  background-color: #1a0040;
}

.inhale {
  transition: opacity 7s ease-in-out;
}

.exhale {
  transition: opacity 11s ease-in-out;
}

.blocked-link {
  color: #888888;
  text-decoration: line-through;
}

.freestat {
  background-color: #ffff74;
  padding: 0 0.3333em;
}

.freelink {
  border-bottom: 4px solid #ffff74;
}

.freelink:hover {
  border-bottom: 4px solid #ffff74;
}

.blocked-stat {
  background-color: #dfdfdf;
  padding: 0 0.3333em;
  /* background-color: #dfdfdf;
  padding: 0.43em 0.3333em 0.2em 0.3333em; */
}

.noshow {
  display: none !important;
}

.hide {
  display: none;
}

h2 {
  margin-top: 0;
}

h4 {
  margin-block-start: 0em;
  margin-block-end: 1em;
  border-bottom: 2px solid;
}

h4.evening {
  color: #001a40;
  border-bottom: 2px solid #001a40;
}

ol {
  margin: 0.5em 0;
}

div#preload {
  opacity: 0 !important;
}

.macro-textbox,
textarea {
  background-color: #ffffff;
  color: #000000;
}

/* Change transition time for macros with t8n */
.macro-linkappend-insert,
.macro-linkprepend-insert,
.macro-linkreplace-insert,
.macro-append-insert,
.macro-prepend-insert,
.macro-replace-insert,
.macro-repeat-insert,
.macro-timed-insert {
  transition: opacity 450ms ease-in;
}

textarea:not(:disabled):focus,
textarea:not(:disabled):hover {
  background-color: #ffffff;
  border-color: #000000;
}

input,
select {
  border-radius: 0.25em;
  background-color: #ffffff;
  color: #000000;
}

input:not(:disabled):focus,
input:not(:disabled):hover {
  background-color: #ffffff;
  border-color: #000000;
}

button {
  border: 1px solid #000000;
  border-radius: 0.25em;
  background-color: #ffffff;
  color: #000000;
}

button:not(:disabled):focus,
button:not(:disabled):hover {
  background-color: #ededed;
  border-color: #000000;
}

#title-image img {
  max-width: 100%;
  height: auto;
}

#menu {
  text-align: center;
  font-size: 15pt;
  width: 100%;
  color: var(--blue);
  margin-top: 1.5em;
}

#title-image {
  text-align: center;
  line-height: 125%;
  width: 100%;
}

#undobar {
  position: relative;
  top: 0em;
  left: 1.4em;
  height: 0;
  width: 0;
  font-size: 32pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#undobar a {
  transition: color 0.5s ease-in-out;
  color: #fffef0;
  opacity: 36%;
}

body.no-undo #undobar a {
  display: none !important;
}

body.flashback #undobar a {
  color: #212121;
}

body.black #undobar a {
  color: #ffffff;
}

.close {
  position: absolute;
  right: 1.5em;
  top: 0.4em;
  height: 0;
  width: 0;
  font-size: 150%;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#copyright {
  position: absolute;
  right: 0.25em;
  bottom: -1.5em;
  color: rgba(255, 205, 180, 0.9);
  font-style: italic;
}

.characters {
  line-height: 115%;
  font-size: 10pt;
  text-align: center;
  width: 160px;
  display: inline-block;
}

.characters img {
  height: 180px;
  width: 160px;
}

.characterlist {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5em;
  line-height: 200%;
}

#star {
  color: #44b43e;
}

#footnote {
  color: #44b43e;
  font-size: 90%;
  margin-top: 2em;
}

#footnote a {
  text-decoration: none;
  color: #44b43e;
}

#footnote a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1136px) {
  #story {
    margin-right: 0.8em;
    margin-left: 0.8em;
  }

  #undobar {
    margin-left: -0.7em;
  }
}

@media screen and (max-width: 920px) {
  body {
    font-size: 13pt;
    padding: 3.5em 1em;
  }

  #footer {
    height: 3.5em;
  }

  #undobar {
    font-size: 30pt !important;
  }

  #menu {
    font-size: 17pt;
  }
}

@media screen and (max-width: 720px) {
  .charbreak4 {
    display: inline;
    content: "";
    clear: none;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 12pt;
    padding: 3em 1em;
  }

  #footer {
    height: 3em;
  }

  #undobar {
    font-size: 28pt !important;
  }

  #menu {
    font-size: 15pt;
  }

  .charbreak {
    display: inline;
    content: "";
    clear: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12pt;
    padding: 2em 1em;
  }

  #footer {
    height: 2em;
  }

  #undobar {
    font-size: 24pt !important;
  }

  #menu {
    font-size: 14pt;
  }

  .title {
    line-height: 1.2;
  }

  .subtitle {
    line-height: 2;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12pt;
    padding: 1.5em 1em;
  }

  #footer {
    height: 1.5em;
  }

  #undobar {
    font-size: 18pt !important;
    top: -0.75em;
  }

  #menu {
    font-size: 12pt;
  }
}