@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  /* Shadows */
  /*Go to https://www.joshwcomeau.com/shadow-palette/ to generate the shadow palette */
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.22),
    0px 0.6px 0.6px -1.7px hsl(var(--shadow-color) / 0.18),
    0px 1.7px 1.7px -3.4px hsl(var(--shadow-color) / 0.14);
  --shadow-elevation-medium:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.18),
    0px 0.8px 0.8px -0.9px hsl(var(--shadow-color) / 0.16),
    0px 1.8px 1.8px -1.7px hsl(var(--shadow-color) / 0.14),
    0px 4px 3.9px -2.6px hsl(var(--shadow-color) / 0.12),
    0px 8.3px 8.2px -3.4px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-high:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.17),
    0px 1.5px 1.5px -0.4px hsl(var(--shadow-color) / 0.16),
    0px 2.8px 2.8px -0.8px hsl(var(--shadow-color) / 0.15),
    0px 4.7px 4.6px -1.1px hsl(var(--shadow-color) / 0.14),
    0px 7.5px 7.4px -1.5px hsl(var(--shadow-color) / 0.13),
    0.1px 11.6px 11.4px -1.9px hsl(var(--shadow-color) / 0.12),
    0.1px 17.5px 17.2px -2.3px hsl(var(--shadow-color) / 0.11),
    0.1px 25.5px 25.1px -2.7px hsl(var(--shadow-color) / 0.1),
    0.2px 36px 35.4px -3.1px hsl(var(--shadow-color) / 0.09),
    0.2px 49.5px 48.6px -3.4px hsl(var(--shadow-color) / 0.08);
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  border: none;
  font-weight: bold;
}

#passages {
  position: relative;
  background-color: #fffef0;
  color: black;
  transition: color 0.5s, background-color 0.5s;
  padding: 1em 1em 1em 1em;
  border-radius: 0.25em;
  margin: 0;
  max-width: none;
  width: 100%;
  min-height: 100%;
  height: auto;
  box-shadow: var(--shadow-elevation-high);
}

body {
  background: #310001;
  margin: 0 auto;
  position: relative;
  font-family: "Newsreader", serif;
  font-size: 14pt;
  max-width: 900px;
  min-width: 300px;
  height: 100%;
  overflow-y: scroll;
  transition: color 0.5s, background-color 0.5s;
}

#footer {
  height: 4em;
  width: 100%;
}

p {
  margin: 1.5em 0;
  padding: 0;
}

a {
  color: rgb(204 0 0);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 79, 79);
  text-decoration: none;
}

ul {
  margin: 1.5em 0;
}

p:first-of-type {
  margin-top: 0 !important;
}

.title {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

body.letter {
  background-color: #ffffff;
}

body.evening {
  background-color: #001a40;
}

/* Not working */
#passages[data-tags~="letter"] {
  background-color: transparent !important;
}

span.bea_handwriting {
  font-family: "Great Vibes", serif;
  font-size: 1.8em;
}

.title-image {
  text-align: center;
  line-height: 125%;
  display: inline-block !important;
  width: 100%;
}

.title-image img {
  max-width: 100%;
  height: auto;
}

.sidebox {
  float: right;
  line-height: 115%;
  font-size: 10pt;
  padding: 4px;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 168px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  margin-top: -1em;
}

.sidebox img {
  height: 180px;
  width: 160px;
}

#preload {
  opacity: 0;
}

.freestat {
  background-color: #ffff74;
  padding: 0 0.3333em;
}

.freelink {
  border-bottom: 4px solid #ffff74;
}

.freelink:hover {
  border-bottom: 4px solid #ffff74;
}

.blockedstat {
  background-color: #dfdfdf;
  padding: 0 0.3333em;
}

.blockedlink {
  color: #888888;
  font-style: italic;
  text-decoration: line-through;
}

.noshow {
  display: none !important;
}

.hide {
  display: none;
}

h2 {
  margin-top: 0;
}

h4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h4.evening {
  color: #001a40;
  border-bottom: 2px solid #001a40;
}

ol {
  margin: 0.5em 0;
}

div#preload {
  opacity: 0 !important;
}

.macro-textbox {
  background-color: #ffffff;
  color: #000000;
}

input {
  border-radius: 0.25em;
}

input:not(:disabled):focus,
input:not(:disabled):hover {
  background-color: #ffffff;
  border-color: #000000;
}

#title-image img {
  max-width: 100%;
  height: auto;
}

#menu {
  text-align: center;
  font-size: 18pt;
  width: 100%;
  color: rgb(204 0 0);
  margin-top: 1.5em;
}

#title-image {
  text-align: center;
  line-height: 125%;
  width: 100%;
}

#menu a {
  color: rgb(204 0 0);
}

#menu a:hover {
  color: rgb(255, 79, 79);
}

#undobar {
  position: relative;
  top: 0em;
  left: 1em;
  height: 0;
  width: 0;
  font-size: 32pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#undobar a {
  transition: color 0.5s;
  color: #fffef0;
  opacity: 70%;
}

body.no-undo #undobar a {
  display: none !important;
}

body.white #undobar a,
body.pink #undobar a {
  display: none !important;
}

body.morning #undobar a,
body.midday #undobar a,
body.afternoon #undobar a,
body.evening #undobar a,
body.quickmorning #undobar a {
  color: #fffef0;
}

body.quickmorning #undobar a {
  transition: 0s;
}

body.black #undobar a,
body.dream #undobar a {
  color: #ffffff;
}

body.card #undobar a {
  color: #000000;
}

.close {
  position: absolute;
  right: 1.5em;
  top: 0.4em;
  height: 0;
  width: 0;
  font-size: 150%;
  text-align: right;
}

#copyright {
  position: absolute;
  right: 0.25em;
  bottom: -1.5em;
  color: rgba(255, 205, 180, 0.9);
  font-style: italic;
}

.characters {
  line-height: 115%;
  font-size: 10pt;
  text-align: center;
  width: 160px;
  display: inline-block;
}

.characters img {
  height: 180px;
  width: 160px;
}

.characterlist {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5em;
  line-height: 200%;
}

#star {
  color: #44b43e;
}

#footnote {
  color: #44b43e;
  font-size: 90%;
  margin-top: 2em;
}

#footnote a {
  text-decoration: none;
  color: #44b43e;
}

#footnote a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1136px) {
  #story {
    margin-right: 0.8em;
    margin-left: 0.8em;
  }

  #undobar {
    margin-left: -0.7em;
  }
}

@media screen and (max-width: 920px) {
  body {
    font-size: 13pt;
    padding: 3.5em 1em;
  }

  #footer {
    height: 3.5em;
  }

  #undobar {
    font-size: 30pt !important;
  }

  #menu {
    font-size: 17pt;
  }
}

@media screen and (max-width: 720px) {
  .charbreak4 {
    display: inline;
    content: "";
    clear: none;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 12pt;
    padding: 3em 1em;
  }

  #footer {
    height: 3em;
  }

  #undobar {
    font-size: 28pt !important;
  }

  #menu {
    font-size: 16pt;
  }

  .charbreak {
    display: inline;
    content: "";
    clear: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12pt;
    padding: 2em 1em;
  }

  #footer {
    height: 2em;
  }

  #undobar {
    font-size: 24pt !important;
  }

  #menu {
    font-size: 14pt;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12pt;
    padding: 1.5em 1em;
  }

  #footer {
    height: 1.5em;
  }

  #undobar {
    font-size: 18pt !important;
    top: -0.75em;
  }

  #menu {
    font-size: 12pt;
  }
}